@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --dashboard-height: calc(100vh-60px);
}
.app-grid{
    display: grid;
    grid-template-columns: 240px 1fr;
}

.modal-overlay-container{
     background: rgba(0, 0, 0, 0.07);
     position: fixed;
     height: 100%;
     width: 100%;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
}

.modal-container{
    background: white;
    width: fit-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
}

.dashboard-container{

    max-height: calc(100vh - 60px);
    min-height: calc(100vh - 60px);
    overflow: hidden;
    
}
.transactions-grid{
    max-height: calc(100vh - 320px);
    
}

.transactions-container{
    max-height: calc(100vh - 100px);
}
.graphs-container{
    max-height: calc(100vh - 100px);
}

.all-transactions-grid{
    max-height: calc(100vh - 80px);
}

.active{
    color: dodgerblue;
    
}